{% extends "base.html" %} {% block content %} {% for article in articles_page.object_list %}
<article>
  <h2 href="{{ article.url }}#{{ article.slug }}">
    <a href="{{ article.url }}#{{ article.slug }}">{{ article.title }}</a>
  </h2>
  <span>{{ article.locale_date }}</span>
  <p>
    {{ article.summary }}
  </p>
  <img src="{{ article.cover }}">
  <a href="{{ article.url }}">Continue reading »</a>
  <hr>
</article>
{% endfor %}
<div class="pagination">
  {% if articles_page.has_next() %}
  <a href="{{ articles_next_page.url }}">
    <i class="fa fa-angle-left"></i> {{ ('Older Posts') }}
  </a>
  {% endif %} {% if articles_page.has_previous() %}
  <a href="{{ articles_previous_page.url }}">
    {{ ('Newer Posts') }}
    <i class="fa fa-angle-right"></i>
  </a>
  {% endif %}
</div>
{% endblock %}