@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Merriweather+Sans");
:root {
  --primary-color: #d0d3c5;
  --secondary-color: #08708a;
  --third-color: #d73a31;
  --forth-color: #56b1bf;
  --fifth-color: #032b2f;
  --main-font: "Crimson Text", serif;
  --secondary-font: "Merriweather Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: #222222;
}

a {
  text-decoration: none;
}

p {
  font-family: var(--main-font);
  line-height: 1.6;
  font-size: 18px;
}

header {
  background: var(--primary-color);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  opacity: 0.97;
}

header h1 {
  color: var(--fifth-color);
  margin: 0.5em auto;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--primary-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
}

nav li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--fifth-color);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--third-color);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.content {
  padding-top: 90px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
  padding: 0 5%;
  /* box-shadow: 0 0 15px rgba(0,0,0,.25); */
}

.article {
  margin-top: 25px;
  margin-bottom: 50px;
}

.article__title {
}

.article__title-link {
  color: var(--fifth-color);
  font-family: var(--secondary-font);
  /* font-size: 1em; */
}

.article__timestamp {
}

.article__img-container {
  height: 300px;
  overflow: hidden;
}

.article__img {
  width: 100%;
  height: auto;
}

.article__link {
  display: inline-block;
  color: var(--secondary-color);
  opacity: 0.75;
  margin-bottom: 20px;
}

hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

footer {
  background: var(--primary-color);
  color: var(--fifth-color);
  opacity: 0.95;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

footer li {
  list-style: none;
}

footer li a {
  color: var(--fifth-color);
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::after {
    content: "";
    display: block;
    height: 5px;
    background: black;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
  article {
    padding: 0 20%;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer li a {
    text-decoration: none;
  }
  footer li a::after {
    content: "";
    display: block;
    background: var(--fifth-color);
    height: 2px;
    transform: scale(0, 1);
    transition: transform ease-in-out 200ms;
  }
  footer li a:hover {
    color: var(--third-color);
  }
  footer li a:hover::after {
    transform: scale(1, 1);
  }
}
